<h2 class="target">Highscores</h2>

<div class="queen">
<p>The current ping pong queen is <br>
<img class="crown" src="../images/crown.png" alt="crown"> <br>
<strong>{{queen}}</strong></p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Username</th>
      <th scope="col">Level</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  {{#each userData}}
  <tbody>
    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.username}}</td>
      <td>{{this.level}}</td>
      <td>{{this.points}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>