<h2>Confirm your match</h2>

<form action="/confirm" method="POST">

<div class="textboxLayer">
  <p><strong>playground:</strong></p>
  <input type="hidden"name="table" value={{tableData._id}}>
  <p>{{tableData.address}}</p>
</div>

<div class="textboxLayer">
  <p><strong>opponent:</strong></p>
  {{!-- if opponent direct is true display opponentdirect otherwise display opponentrandom --}}
  {{#if opponentDirect}}
   <input type="hidden" name="opponentDirect" value={{opponentDirect._id}}>
   <p>{{opponentDirect.username}}</p>
   {{!-- <option name="opponentDirect" value={{opponentDirect._id}}>{{opponentDirect.username}}</option> --}}
  {{else}}
  <input type="hidden" name="opponentRandom" value={{opponentRandom._id}}>
  <p>{{opponentRandom.username}}</p>
  {{/if}}
</div>

<div class="textboxLayer">
  <p><strong>message:</strong></p>
  <input class="inputConfirm" type="textarea" name="message" placeholder="Specify time and and send that invite asap!" cols="30" rows="5">
</div>

<div class="center d-flex justify-content-center">
<button class="btn btn-confirm" id="buttontohover" type="submit">It's on</button>
</div>

<div>
<br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
<br>
</div>

</form>