<h2>Confirm your match</h2>

<form action="/confirm" method="POST">

<div>
  <p>Your playground:</p>
  <input type="text"name="table" value={{tableData._id}}>
  <p>{{tableData.address}}</p>
</div>

<div>
  <p>Your opponent:</p>
  {{!-- if opponent direct is true display opponentdirect otherwise display opponentrandom --}}
  {{#if opponentDirect}}
   <input id="opponentDirect" name="opponentDirect" value={{opponentDirect._id}}>
   <p>{{opponentDirect.username}}</p>
   {{!-- <option name="opponentDirect" value={{opponentDirect._id}}>{{opponentDirect.username}}</option> --}}
  {{else}}
  <input id="opponentRandom" name="opponentRandom" value={{opponentRandom._id}}>
  <p>{{opponentRandom.username}}</p>
  {{/if}}
</div>

<div>
  <p>Your message:</p>
  <input type="textarea" name="message" placeholder="Specify time and date and send that invite asap!" size="40">
</div>

<button type="submit">It's on</button>

</form>