<br>
<h1>Pending invitation</h1>
{{test}}

<br><br>
{{#each matchData}}
<div id="PendingDiv">

  <p>You have an invite from: {{this._player1.username}}</p>
  <p>Where: {{this._table.address}}</p>
  <p> Message from opponent: {{this.message}}</p>
</div>

<div class="d-flex flex-column">

<form action="/pending-invite/decline/{{this._id}}" method="POST">
  <input type="submit" value="Decline Match" class="btn" id="PendingButton1">
</form>


<form action="/pending-invite/accept/{{this._id}}" method="POST">
  <input type="submit" value="Accept match" class="btn" id="PendingButton2">
</form>

</div>
{{/each}}
<br><br>