<h2>Pending invitation</h2>
{{#each matchData}}

<div class="textboxLayer">
  <p><strong>You have an invite from:</strong> {{this._player1.username}}</p>
  <p><strong>Where: </strong> <br>
  {{this._table.address}}</p>
  <p><strong>Message from opponent: </strong><br>
    {{this.message}}</p>
</div>


<form class="d-flex justify-content-center" action="/pending-invite/accept/{{this._id}}" method="POST">
  <input type="submit" value="Accept match" class="btn btn-pending" id="buttontohover">
</form>

<form class="d-flex justify-content-center" action="/pending-invite/decline/{{this._id}}" method="POST">
  <input type="submit" value="Decline Match" class="btn btn-pending-delete" id="buttontohover">
</form>

</div>
<hr class="line-player">
{{/each}}
