  <br>
  <h1>Pending invitation</h1>
{{test}}

<br><br>
{{#each matchData}}
<p>You have an invite from: {{this._player1.username}}</p>
<p>Where: {{this._table.address}}</p>

<p> Message from opponent: {{this.message}}</p>  
<br><br>

<form action="/pending-invite/decline/{{this._id}}" method="POST">
<input type="submit" value="Decline Match">
</form>

<form action="/pending-invite/accept/{{this._id}}" method="POST">
<input type="submit" value="Accept match">
</form>


<br><br>
  {{/each}}

