<h2>Choose your oppontent</h2>

<div>
  <p>Your playground: {{tableData.address}}</p>
</div>

<div>

  <p><strong>I know who I want to play:</strong></p>
  <p>Just type in the username of your frenemy and let the game begin:</p>
  <form action="/match/{{tableData._id}}/direct" method="POST">
  <input type="text" name="directOpponent" placeholder="Put in username of your opponent">
  <button type="submit">Select opponent</button>
  </form>

<br>
<h2>OR</h2>
<br>

  <p><strong>Are you up for a new challenge?</strong></p>
  <p>Let us choose a random opponent for your next game:</p>
  <form action="/match/{{tableData._id}}/random" method="POST">
  <input type="hidden" name="randomOpponent" value={{randomName}}>
  <p>{{randomName}}</p>
  <button type="submit">Select opponent</button>
  </form>

</div>