<div class ="textboxLayer">
  <p><strong>Your playground: </strong><br>
    {{tableData.address}}</p>
</div>
<br>

<h2>Now choose your opponent:</h2>

<div class ="textboxOpponent" >
  <hr class="line-player">

  <p><strong>I know who I want to play:</strong></p>
  <form class="formPlayer" action="/match/{{tableData._id}}/direct" method="POST">
  <input class="inputPlayer" type="text" name="directOpponent" placeholder="Just type in the username">
  <button class="btn btn-player" id="buttontohover" type="submit">Select opponent</button>
  </form>

</div>

<h2>or</h2>

<div class = "textboxOpponent" >

  <p><strong>Are you up for a new challenge?</strong></p>
  <p>We have new match for you:</p>
  <form class="formPlayer" action="/match/{{tableData._id}}/random" method="POST">
  <input  class="inputPlayer" type="hidden" name="randomOpponent" value={{randomName}}>
  <p><strong>{{randomName}}</strong></p>
  <button class="btn btn-player" id="buttontohover" type="submit">Select opponent</button>
  </form>

</div>