<h2 class="target" >Choose your opponent</h2>

<div class ="textboxLayer">
  <p><strong>Your playground: </strong><br>
    {{tableData.address}}</p>
</div>

<div class ="textboxOpponent" >
  <hr class="line-player">

  <p><strong>I know who I want to play:</strong></p>
  <form class="formPlayer" action="/match/{{tableData._id}}/direct" method="POST">
  <input class="inputPlayer" type="text" name="directOpponent" placeholder="Type in the username of your opponent">
  <button class="btn btn-player" id="buttontohover" type="submit">Select opponent</button>
  </form>

</div>


<h2 class="h2-class">OR</h2>


<div class = "textboxOpponent" >

  <p><strong>I want new ping pong friends!</strong></p>
  <p>Meet your next opponent:</p>
  <form class="formPlayer" action="/match/{{tableData._id}}/random" method="POST">
  <input  class="inputPlayer" type="hidden" name="randomOpponent" value={{randomName}}>
  <p class="randomName"><strong>{{randomName}}</strong></p>
  <button class="btn btn-player" id="buttontohover" type="submit">Select opponent</button>
  </form>

</div>